.modal {
  position: fixed; /* фиксированное положение */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* цвет фона */
  z-index: 1;
  opacity: 0; /* по умолчанию модальное окно прозрачно */
  transition: opacity 200ms ease-in; /* анимация перехода */
  margin: 0;
  padding: 0;
  visibility: visible;
  overflow-y: auto;
}
/*.modal-active {
  opacity: 1;
  visibility: visible;
}*/

.modal-input,
.form-select {
  width: 300px;
  padding: 10px 10px 10px 20px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.815);
}
.form-select {
  width: 330px;
}

.modal-content {
  background-color: rgb(6, 182, 65);
  width: 600px;
  /*height: 325px;*/
  position: absolute;
  left: calc(50% - 285px);
  top: 100px;
  border-radius: 30px;
  text-align: center;
}
.modal__btn-conteiner {
  display: flex;
  flex: 1 1;
  gap: 147px;
  margin-top: 40px;
}
.modal__title {
  font-weight: 400;
  font-size: 44px;
  color: rgb(255, 255, 255);
  margin: 30px 0 0 0;
}
.form {
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.lable-input {
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 27px;
  transform: translateX(30px);
}
.modal__btn {
  border-radius: 6px;
  cursor: pointer;
  padding: 10px;
  background-color: rgb(55, 45, 117);
}
<<<<<<< HEAD
.form-second-select{
  display: block;
  margin: 0 auto;
  width: 321px;
  height: 46px;
}
/* свойства для заголовка модального окна */
=======
>>>>>>> 14ba297cb0ebcd4e9bae1abf8cff6746e4306404
