@import './modal.css';
.header-img{
    height: 70px;
}
.header-btn{
    float: right;
    height: 70px;
    width: 130px;
    background-color: rgb(111, 90, 235);
    font-family: Roboto, sans-serif;
    border-radius: 100px;
    border-color: #fff;
    color: white;
}
.header{
    width: 800px;;
    background-color: green;
    border-color: #000;
    border-radius: 35px;
    height: 70px;
}
.second-header{
    margin-top: 50px;
    width: 800px;
    background-color: green;
    border-color: #000;
    border-radius: 30px;
    height: 400px;
}   
.header , .second-header{
    margin-left: 25%;
}
.header-second-btn {
  float: right;
  height: 70px;
  width: 130px;
  background-color: rgb(111, 90, 235);
  font-family: Roboto, sans-serif;
  border-radius: 100px;
  border-color: #fff;
  color: white;
  display: none;
}
